if SHIELD_DONGLE_CORNEISH_ZEN

config ZMK_KEYBOARD_NAME
    default "Zen Dongle"

config ZMK_SPLIT
    default y

config ZMK_SPLIT_ROLE_CENTRAL
    default y

# Both keyboard halves are peripherals of the dongle.
config ZMK_SPLIT_BLE_CENTRAL_PERIPHERALS
    default 2

endif
